@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

$Linear-gradient-blue: hsl(249, 99%, 64%);
$Linear-gradient-purple: hsl(278, 94%, 30%);
$Red: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

$font: "Space Grotesk", sans-serif;

$widthTituloH1: 3rem;
$widthXlDesktop: 1200px;
$widthLDesktop: 1017px;
$widthMDesktop: 1100px;
$widthXLMobile: 900px;
$widthLMobile: 610px;
$widthMMobile: 450px;

@mixin tooltip {
  display: block;
  background-color: black;
  color: white;
}

@mixin tooltip-box($left, $bottom) {
  display: none;
  width: 10rem;
  position: absolute;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  bottom: $bottom;
  left: $left;
  border-style: groove;
  border-radius: 5px;
}
