@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/* comentarios */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
  font-family: Kanit !important;
  /*google font*/
  font-weight: bold;
}

.btnInteractivo {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  width: 100%;
  height: 35px;
  border-radius: 8px;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.btnInteractivo2 {
  text-decoration: none;
  color: hsl(270deg, 3%, 87%);
  background-color: hsl(278deg, 68%, 11%);
  border-radius: 8px;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 100px;
  padding: 7px;
}

.btnInteractivo2:hover {
  text-decoration: none;
  color: hsl(270deg, 3%, 87%);
}

.finalizarCompra {
  height: 100%;
}

.finalizacionDeCompraBtn {
  justify-content: center;
  align-items: center;
}

.btnInteractivo:hover {
  cursor: pointer;
}

.btnInteractivo3 {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  width: 30%;
  height: 35px;
  border-radius: 8px;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.precioProducto {
  border: #000 1px solid;
  text-align: center;
  font-family: kalam;
  border-radius: 8px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
}

.mainPantallaPago {
  border: 1px saddlebrown solid;
  width: 375px;
  margin: 0 auto;
}
.mainPantallaPago .mainPantallaPagoBkSection {
  background-color: aqua;
}

.main-container {
  width: 375px;
  margin: auto;
}

.main-container__background-section {
  background-image: url("../assets/img/bg-main-mobile.png");
  background-repeat: no-repeat;
  height: 240px;
  position: relative;
}

.main-container__form-section {
  padding: 90px 24px 45px;
}

@media (min-width: 1440px) {
  .main-container {
    width: 1440px;
    display: flex;
  }
  .main-container__background-section {
    background-image: url("../assets/img/bg-main-desktop.png");
    width: 900px;
    height: 900px;
  }
}
.cardFrente {
  width: 288px;
  height: 160px;
  color: hsl(0deg, 0%, 100%);
  padding: 20px;
  background-image: url("../assets/img/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 126px;
  left: 18px;
  z-index: 1;
  letter-spacing: 2px;
}

@media (min-width: 1440px) {
  .cardFrente {
    width: 450px;
    height: 247px;
    padding: 30px;
  }
}
@media (min-width: 1440px) {
  .cardFrente {
    top: 187px;
    left: 167px;
  }
}
.card__logo {
  width: 55px;
  margin-bottom: 30px;
}

.card__number {
  margin-bottom: 15px;
}

.card__details {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .card__logo {
    width: 86px;
    margin-bottom: 55px;
  }
  .card__number {
    font-size: 1.6em;
    margin-bottom: 25px;
  }
  .card__details {
    font-size: 0.8em;
  }
}
.card-back {
  width: 288px;
  height: 160px;
  color: hsl(0deg, 0%, 100%);
  padding: 20px;
  background-image: url("../assets/img/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  left: 75px;
  letter-spacing: 2px;
}

@media (min-width: 1440px) {
  .card-back {
    width: 450px;
    height: 247px;
    padding: 30px;
  }
}
@media (min-width: 1440px) {
  .card-back {
    top: 468px;
    left: 257px;
  }
}
.card-back__cvc {
  font-size: 0.7em;
  margin-top: 50px;
  text-align: right;
  padding-right: 10px;
}

@media (min-width: 1440px) {
  .card-back__cvc {
    font-size: 1em;
    margin-top: 80px;
    padding-right: 30px;
  }
}
.form__label {
  text-transform: uppercase;
  font-size: 0.65em;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 8px;
  color: hsl(278deg, 68%, 11%);
  font-weight: bold;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
  border: 1px solid hsl(270deg, 3%, 87%);
  padding-left: 10px;
  font-size: 1em;
  outline: none;
}

.form__input::-moz-placeholder {
  color: hsl(270deg, 3%, 87%);
}

.form__input:-ms-input-placeholder {
  color: hsl(270deg, 3%, 87%);
}

.form__input::placeholder {
  color: hsl(270deg, 3%, 87%);
}

.form__date-cvc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
}

.form__date {
  display: flex;
  gap: 10px;
}

.form__submit,
.thanks-section__button {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
}

.form__submit:hover,
.thanks-section__button:hover {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .form {
    margin-top: 180px;
    width: 385px;
  }
  .form__input {
    margin-bottom: 40px;
  }
}
.error {
  color: hsl(0deg, 100%, 66%);
  margin: -10px 0 18px;
  font-size: 0.6em;
}

.form__errors-container {
  display: flex;
  gap: 5px;
}

.form__errors-container div {
  width: 100px;
  text-align: center;
}

.thanks-section {
  display: none;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
}

.thanks-section__img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.thanks-section__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 4px;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 24px;
}

.thanks-section__text {
  text-align: center;
  color: hsl(279deg, 6%, 55%);
  font-size: 1.1em;
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .thanks-section {
    margin-top: 180px;
  }
}
.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.tituloPrincipal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.tituloPrincipal h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
}
.tituloPrincipal img {
  width: 6rem;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.navbar-nav {
  gap: 5rem;
  text-align: justify;
  align-items: center;
  justify-content: center;
}
.navbar-nav a {
  display: flex;
  flex-direction: column;
  width: 10rem;
  justify-content: center;
  align-items: center;
}
.navbar-nav img {
  width: 50%;
}

.divSearchBar {
  position: absolute;
  left: 15%;
}
.divSearchBar input {
  width: 0px;
  height: 40px;
  border-radius: 25px;
  padding: 0 20px;
  line-height: 10px;
  font-size: 20px;
  transition: all 1s ease-in-out;
}
.divSearchBar .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  justify-items: center;
  text-align: center;
  border-color: transparent;
  border: 0px;
}
.divSearchBar .btn img {
  border: 0px;
}

.divSearchBar:hover input {
  width: 300px;
}

.finalizacionDeCompraBtn {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

.vaciarCarrito button {
  padding: 5px;
}

.finalizarCompra button {
  padding: 5px;
}

.tooltip1 {
  position: relative;
}

.hongosHome .tooltip-box1 {
  display: none;
  width: 10rem;
  position: absolute;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  bottom: 150px;
  left: 30rem;
  border-style: groove;
  border-radius: 5px;
}

.hongosHome:hover .tooltip-box1 {
  display: block;
  background-color: black;
  color: white;
}

.tooltip2 {
  position: relative;
}

.investigacionHome .tooltip-box2 {
  display: none;
  width: 10rem;
  position: absolute;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  bottom: 18.75rem;
  left: 56.25rem;
  border-style: groove;
  border-radius: 5px;
}

.investigacionHome:hover .tooltip-box2 {
  display: block;
  background-color: black;
  color: white;
}

.tooltip3 {
  position: relative;
}

.productosHome .tooltip-box3 {
  display: none;
  width: 10rem;
  position: absolute;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  bottom: 3.12rem;
  left: 56.25rem;
  border-style: groove;
  border-radius: 5px;
}

.productosHome:hover .tooltip-box3 {
  display: block;
  background-color: black;
  color: white;
}

.tooltip4 {
  position: relative;
}

.contactoHome .tooltip-box4 {
  display: none;
  width: 10rem;
  position: absolute;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  bottom: -6.25rem;
  left: 43.75rem;
  border-style: groove;
  border-radius: 5px;
}

.contactoHome:hover .tooltip-box4 {
  display: block;
  background-color: black;
  color: white;
}

@-webkit-keyframes logorotacion {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes logorotacion {
  0% {
    transform: rotate(360deg);
  }
}
.carousel-inner div img {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.navbar-brand:hover {
  -webkit-animation: logorotacion 2s linear 0s infinite none;
          animation: logorotacion 2s linear 0s infinite none;
}

.gralMain {
  justify-content: center;
  align-content: center;
  background-image: url(../assets/img/fondo\ fungi\ -\ opaco.jpg);
  padding-bottom: 1rem;
}

.mainProductos, .mainCarrito, .mainContacto, .mainHongos, .mainInvestigacion {
  padding: 1rem 3rem 3rem 3rem;
  background-image: url(../assets/img/fondo\ fungi\ -\ opaco.jpg);
}

.mainProductos .divEcomerce, .mainCarrito .divEcomerce, .mainContacto .divEcomerce, .mainHongos .divEcomerce, .mainInvestigacion .divEcomerce {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainProductos .divCarrito, .mainCarrito .divCarrito, .mainContacto .divCarrito, .mainHongos .divCarrito, .mainInvestigacion .divCarrito {
  display: flex;
  flex-direction: column-reverse;
  width: 15rem;
}
.mainProductos .divCarrito a, .mainCarrito .divCarrito a, .mainContacto .divCarrito a, .mainHongos .divCarrito a, .mainInvestigacion .divCarrito a {
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}
.mainProductos .divCarrito img, .mainCarrito .divCarrito img, .mainContacto .divCarrito img, .mainHongos .divCarrito img, .mainInvestigacion .divCarrito img {
  margin: 0 auto;
  height: 5rem;
  width: auto;
}
.mainProductos .divCarrito p, .mainCarrito .divCarrito p, .mainContacto .divCarrito p, .mainHongos .divCarrito p, .mainInvestigacion .divCarrito p {
  text-align: center;
  margin: 0;
}

.formulario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100vw;
  flex-grow: 2;
}

.formularioCentral {
  order: 2;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}

.formularioContacto ul li:last-child {
  padding: 0;
}

.formularioContacto {
  margin: 0 auto;
  width: 300px;
}
.formularioContacto ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.formularioContacto li {
  padding-bottom: 1rem;
}
.formularioContacto .nombreApellido {
  width: 100%;
  text-align: center;
}
.formularioContacto .telefono {
  width: 100%;
  text-align: center;
}
.formularioContacto .email {
  width: 100%;
  text-align: center;
}
.formularioContacto .mensaje {
  width: 100%;
}

input:focus {
  border-color: #000;
}

textarea:focus {
  border-color: #000;
}

.mensaje {
  height: 10em;
}

.buttons {
  text-align: center;
}

.buttons .submit {
  margin-right: 3rem;
  width: 100px;
}

.buttons .cancel {
  margin-left: 3rem;
  width: 100px;
}

.formulario .imagenizq {
  order: 1;
  opacity: 0.5;
}

.formulario .imagender {
  order: 3;
  opacity: 0.5;
}

.mainProductos p, .mainInvestigacion p, .mainHongos p, .mainContacto p, .mainCarrito p {
  opacity: 1 !important;
}

.mainPage {
  width: 100%;
  max-width: 700px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  grid-template-areas: "one two two two" "one three six four" "one five five four";
  grid-template-columns: [one] 45% [two] 15% [three] 15% [four] 25%;
  grid-template-rows: [one] 40% [two] 15% [three] 45%;
  justify-content: center;
}
.mainPage div a img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainPage div a img:hover {
  filter: grayscale(0%);
  transition: all 0.1s;
}

/* grid template para distribuir los tamaños del main a las imagenes */
.mainResponsive {
  display: none;
}

.hongosHome {
  grid-area: one;
  border: solid 1px black;
}

.investigacionHome {
  grid-area: two;
  width: 100%;
  border: solid 1px black;
}

.vacio {
  grid-area: three;
  border: solid 1px black;
  background-color: white;
  width: 100%;
  height: 100%;
}

.vacio:hover {
  opacity: 0.8;
}

.vacio2 {
  grid-area: six;
  border: solid 1px black;
  background-color: white;
  width: 100%;
  height: 100%;
}

.vacio2:hover {
  opacity: 0.8;
}

.productosHome {
  grid-area: four;
  width: auto;
  border: solid 1px black;
  display: inline-block;
}

.contactoHome {
  grid-area: five;
  border: solid 1px black;
  width: 100%;
}

#footer {
  height: 3rem;
  display: grid;
  grid-template-areas: "one two three";
  grid-template-columns: [one] 1fr [two] 1fr [three] 1fr;
  align-items: center;
  border-top: 1px solid black;
}
#footer__text {
  grid-area: one;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#footer__text small {
  padding-left: 1rem;
}

.redes {
  grid-area: two;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes ul {
  margin: 0;
  display: flex;
  gap: 2rem;
  padding: 0px;
}
.redes ul li img {
  width: 25px;
  border-radius: 1px;
}

.redes ul li a:hover {
  filter: opacity(0.3) drop-shadow(0 0 5px #ffbf00);
  transition: all 0.5s;
}

.direccion {
  grid-area: three;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .footer__text img {
  padding: 1px;
  width: 50px;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
}

#list-item-1 {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 12px;
}

.texto1 {
  margin: 1rem 1rem 1rem 1rem;
}

.texto1 p {
  margin-top: 2rem;
  text-align: justify;
  text-justify: newspaper;
}

#list-item-2 {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 12px;
}

.texto2 {
  margin: 1rem 1rem 1rem 1rem;
}

.texto2 p {
  margin-top: 2rem;
  text-align: justify;
  text-justify: newspaper;
}

#list-item-3 {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 12px;
}

.texto3 {
  margin: 1rem 1rem 1rem 1rem;
}

.texto3 p {
  margin-top: 2rem;
  text-align: center;
  text-align: justify;
  text-justify: newspaper;
}

.card-body1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: self-end;
}

.contenedorPadreCards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedorPadreCards .cardGrl {
  border-color: black !important;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body1 button {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.card-body1 button:hover {
  background-color: black;
  color: white;
  box-shadow: black;
}

.card-body1 button:active {
  background-color: black !important;
  color: white !important;
  box-shadow: black !important;
}

.g-0 {
  border-color: black !important;
  border: 1px solid black !important;
}

.indice {
  position: fixed;
  left: 83%;
  top: 45%;
}

.mainProductos h4, .mainInvestigacion h4, .mainHongos h4, .mainContacto h4, .mainCarrito h4 {
  text-align: center;
  font-weight: bolder;
}

#list-example {
  border-radius: 30px;
  border: 1px solid black;
}
#list-example a {
  background-color: white;
  color: black;
  border: 1px solid white;
}
#list-example .bg-black {
  color: white;
}

#list-example a:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1200px) {
  .imagender {
    width: 100%;
    padding-left: 1rem;
  }
}
@media (max-width: 1017px) {
  .imagender {
    display: none;
  }
  .imagenizq {
    display: none;
  }
  .mainContacto {
    width: 100vw;
    padding: 0px;
  }
}
@media (max-width: 1100px) {
  .mainHongos {
    padding: 0px;
  }
  .mainInvestigacion {
    padding: 0px;
  }
  .mainProductos, .mainInvestigacion, .mainHongos, .mainContacto, .mainCarrito {
    padding: 0px;
  }
  .indice {
    display: none;
  }
  .row {
    margin: 0px !important;
  }
  .descripcionCarrousel {
    padding: 0px !important;
    margin: 0px !important;
  }
  .mainHongos div p {
    width: 80vw;
  }
  .carousel-inner {
    width: 100%;
  }
  .carousel-inner div img {
    width: 100%;
  }
  .descripcionCarrousel {
    margin: 0 auto !important;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    gap: 0rem;
    text-align: justify;
    align-items: center;
  }
  .container-fluid {
    justify-content: flex-start;
  }
}
@media (max-width: 900px) {
  .tituloPrincipal h1 {
    font-size: 2.5rem;
  }
  .tituloPrincipal img {
    width: 3rem;
  }
  #menuHome ul {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .gralMain {
    width: 100%;
    height: auto;
  }
  .tituloPrincipal h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) and (max-width: 610px) {
  .tituloPrincipal h1 {
    font-size: 1.5rem;
  }
  .tituloPrincipal img {
    width: 3rem;
  }
}
@media (max-width: 700px) and (max-width: 450px) {
  .gralMain {
    margin: 0 auto;
  }
  .mainPage {
    display: none;
  }
  .mainResponsive {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
  }
  .mainResponsive .imgResponsive {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  .mainResponsive .imgResponsive a img {
    justify-items: center;
    width: 100%;
    height: 18.75rem;
    border: 3px solid black;
  }
  .mainResponsive div:last-child {
    padding-bottom: 4rem;
  }
  .formulario .imagenizq {
    display: none;
  }
  .formulario .imagender {
    display: none;
  }
  .gralMain {
    height: 100%;
    width: 100vw;
  }
  #footer {
    display: flex;
    flex-direction: column;
  }
  #menuHome {
    padding: 0;
  }
  .logoMenu {
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */